body
{
	background: rgba(25,118,210,0.8);
	color: white;
}
main
{
	display: flex;
	flex-direction: column;
	gap:15px;
	text-align: center;
	padding-top: 15%;
}
.welcome-msg
{
	font-size: 25px;
}
a
{
	text-decoration: underline;
	color:white;
}
button
{
	color: white;
	background-color: rgba(0,112,26,0.7);
	font-size: 15px;
	border: none;
	width: 150px;
	margin-left: 45%;
	cursor: pointer;
}
button:hover
{
	background-color: rgba(0,112,26,0.9);
}